@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content-limit{
    width: 100%;
    height: 100px;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-limit{
    width: 400px;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.content-characters{
    width: 100%;
    height: auto;
}

.card-character{
    width: 25%;
    height: 700px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.pic-character{
    width: 100%;
    min-height: 300px;
    background-size: cover;
}

.content-pagination{
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-pagination{
    width: 200px;
    height: 50px;
    background: #EC1D24;
    color: #FAFAFA;
    border: none;
}

.button-pagination:hover{
    background: #b9181d;
    cursor: pointer;
}